<h1><% title %></h1>

<p>Name: <%= category.name %></p>
<p>Description: <%= category.description %></p>
<p>Products: 
    <% products.forEach(product => { %>
        <a href="/catalog/<%= product.url %>"><%= product.name %></a>
    <% }) %>
</p>
<a href="/catalog/<%= category.url %>/delete" class="btn btn-primary">Delete Category</a>
<a href="/catalog/categories" class="btn btn-primary">Back</a>